.history-card {
  margin: 5px;
  padding: 0 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.filter-bar {
  display: flex;
  gap: 15px;
  padding: 5px;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 0px;
}

.filter-bar mat-form-field {
  flex: 1;
}

.spacer {
  flex: 1 1 auto;
}

.chip-cancelada {
  background-color: #ffcdd2;
  color: #c62828;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: bold;
}
.estatus-colum {
  background-color: white;
  color: #2e7d32;
}
.estatus-cancel {
  color: #c62828;
}
.footer-summary-row {
  background-color: #f5f5f5;
}

.footer-summary-row td {
  border-top: 2px solid #3f51b5;
  font-size: 1rem;
}

.total-highlight {
  color: #2e7d32;
  font-size: 1.1rem;
}

.mat-footer-row {
  font-weight: bold;
  background-color: #f5f5f5;
}
.mat-content-table {
  padding: 0;
}
.full-width-table {
  width: 100%;
}
.table-container {
  width: 100%;
  overflow-x: auto; /* Habilita el scroll horizontal */
  -webkit-overflow-scrolling: touch;
}

table {
  min-width: 600px; /* Fuerza a la tabla a mantener un ancho mínimo para no amontonarse */
}

/* Colores de los iconos */
.blue {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.green {
  background: linear-gradient(135deg, #23d5ab, #23a6d5);
}
.purple {
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
}
.error-backend {
  background-color: blanchedalmond;
  padding: 10px;
  color: brown;
  font-size: 16px;
}
.spinner-custom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .container {
    padding: 5px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
  }
  table {
    min-width: 350px; /* Fuerza a la tabla a mantener un ancho mínimo para no amontonarse */
  }
}
