<h2 mat-dialog-title>Elige agregar nuevos modelos o sus varientes</h2>
<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Modelos">
            <div class="reference-content">
                <mat-divider></mat-divider>
                <form [formGroup]="newModelForm" class="mt-3">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Nombre del modelo</mat-label>
                        <input matInput formControlName="nombre">
                        <mat-error
                            *ngIf="newModelForm.get('nombre')?.hasError('required')">Requerido</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Descripcion</mat-label>
                        <input matInput formControlName="description">
                        <mat-error
                            *ngIf="newModelForm.get('description')?.hasError('required')">Requerido</mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="newModelForm.invalid" type="submit">
                        <mat-icon>add</mat-icon> Agregar Talla
                    </button>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Variantes">
            <app-reference-form></app-reference-form>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>