/* You can add global styles to this file, and also import other style files */

html, body {
  /* Asegura que no estés restringiendo el flujo de forma global */
  overflow-x: unset; /* o auto */ 
  width: 100%;
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
