.filter-card {
  margin-bottom: 20px;
  padding: 20px;
}

.filter-form {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap; /* Para responsividad */
}

.filter-field {
  flex-grow: 1;
  min-width: 200px; /* Asegura que el campo de fecha se vea bien */
}

.generate-btn {
  padding: 0 20px;
  height: 56px; /* Para que coincida con la altura del mat-form-field */
}

.chart-card {
  margin-bottom: 20px;
}

.chart-area-content {
  /* Define la altura del contenedor para que Chart.js sepa hasta dónde crecer */
  height: 400px;
  padding: 16px;
}

.chart-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
